<script>
    $(":file").filestyle({buttonBefore: true, input: false, icon: false});
</script>

<form class="form-horizontal" role="form" name="form" ng-file-drop>
    <fieldset ng-disabled="disabled">
        <div class="form-group" ng-show="current_agent.avatar">
            <img id="avatar" class="avatar img-thumbnail" ng-src="{{current_agent.avatar}}?width=100&height=100&t={{t}}" />
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>First Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="First Name" ng-model="current_agent.first_name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="current_agent.last_name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Job title</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Job title" ng-model="current_agent.job_title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Avatar</label>
            <div class="col-sm-9">
                <div ng-class="{'input-group': !disabled}">
                    <span ng-show="!disabled" class="input-group-btn">
                        <input ng-file-select type="file" class="filestyle" data-input="false" />
                    </span>
                    <input type="text" name="form.avatar" class="form-control" placeholder="Avatar" ng-disabled="true" ng-model="current_agent.avatar" />
                    <span ng-show="!disabled" class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="removeAvatar()">
                            <span class="glyphicon glyphicon-trash"></span> <span translate>Remove</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Email</label>
            <div class="col-sm-9">
                <input type="email" name="form.email" class="form-control" placeholder="Email" ng-model="current_agent.email" ng-required="true" />
            </div>
            <span class="has-error pull-right">
                <span ng-show="form.$error.email" class="help-block" translate>Should be valid email address!</span>
            </span>
        </div>
        <div class="form-group" ng-hide="current_agent.uid">
            <label class="col-sm-3 control-label" translate>Password</label>
            <div class="col-sm-9">
                <input type="password" name="form.password" class="form-control" placeholder="Password" ng-model="current_agent.password" />
            </div>
        </div>
        <div class="form-group" ng-hide="current_agent.uid" ng-cloak="ng-cloak">
            <label class="col-sm-3 control-label" translate>Confirm password</label>
            <div class="col-sm-9">
                <input type="password" name="form.confirm_password" placeholder="Confirm password" class="form-control" ng-model="current_agent.confirm_password" ui-equal-to="current_agent.password" />
            </div>
            <span class="has-error pull-right">
                <span ng-show="form.$error.equal" class="help-block has-error" translate>Should be equal to password!</span>
            </span>
        </div>
        <div class="form-group" ng-show="current_agent.type != 1">
            <label class="col-sm-3 control-label" translate>Type</label>
            <div class="col-sm-9">
                <label>
                    <input type="radio" ng-model="current_agent.type" value="2" translate /> Administrator
                </label>
                <label>
                    <input type="radio" ng-model="current_agent.type" value="3" translate /> Operator
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Period Visitors Render</label>
            <div class="col-sm-9">
                <label>
                    <input type="radio" ng-model="current_agent.render_visitors_period" value="1" translate /> Session
                </label>
                <label>
                    <input type="radio" ng-model="current_agent.render_visitors_period" value="2" translate /> Day
                </label>
                <label>
                    <input type="radio" ng-model="current_agent.render_visitors_period" value="3" translate /> Week
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Accept chats</label>
            <div class="col-sm-9">
                <label>
                    <input type="radio" ng-model="current_agent.accept_chats" ng-value="true" translate /> Yes
                </label>
                <label>
                    <input type="radio" ng-model="current_agent.accept_chats" ng-value="false" translate /> No
                </label>
            </div>
        </div>
        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label" translate>Email Notifications</label>-->
            <!--<div class="col-sm-9">-->
                <!--<select ng-model="current_agent.notifications" ng-options="notification for (key, value) in {1: 'New user',2: 'New agent',3: 'New message',4: 'Pay agent',5: 'Pay subscription'}">-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label" translate>Email Notifications</label>
            <div class="col-sm-9">
                <label>
                    <input type="checkbox" ng-model="current_agent.notifications.new_user" ng-value="1" translate /> New user
                </label>
                <label>
                    <input type="checkbox" ng-model="current_agent.notifications.new_agent" ng-value="1" translate /> New agent
                </label>
                <label>
                    <input type="checkbox" ng-model="current_agent.notifications.new_message" ng-value="1" translate /> New message
                </label>
                <label>
                    <input type="checkbox" ng-model="current_agent.notifications.pay_agent" ng-value="1" translate /> Pay agent
                </label>
                <label>
                    <input type="checkbox" ng-model="current_agent.notifications.pay_subscription" ng-value="1" translate /> Pay subscription
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <div ng-show="!disabled">
                    <div class="form-group pull-left">
                        <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="form.$invalid" translate>Save</button>
                        <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                    </div>
                    <div class="form-group pull-right" ng-show="current_agent.type != 1">
                        <button type="button" class="btn btn-danger" ng-click="remove()" ng-show="current_agent.uid" translate>Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>