<div class="col-md-3">
    <div class="sidebar hidden-print affix-top" role="complementary">
        <ul class="nav sidenav">
            <li ng-repeat="agent in agents | filter:search | orderBy:'uid'">
                <a href="" ng-click="select(agent)" class="active">
                    {{agent.person.fullname}}
                    <img height="25px" ng-src="{{agent.person.avatar}}" />
                </a>
            </li>
        </ul>
        <div>
            <a ng-click="create()" href="" class="btn btn-warning">Create Agent</a>
        </div>
    </div>
</div>