body {
  position: relative;
  padding-top: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}

.sidenav.nav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

.sidebar .sidenav.nav a.active {
  font-weight: bold;
}

.content {
  margin-top: 30px;
  background-color: #f7f5fa;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

img.avatar {
  width: 100px;
  height: 100px;
}

img.company-logo {
  width: 45px;
  height: 45px;
}

.overflowable {
  height: 400px;
}

.well.message-spot{
  margin-bottom: 50px;
  height: 400px;
  overflow: auto;
  word-wrap: break-word;
}

.well.message-spot p.not-readed {
  background-color: #FFF;
}

footer {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.px35 {
  width: 35px;
  height: 35px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.gray {
  color: gray;
}

/*

.bar-submit-message{
  border-top: 1px solid #33b5e5;
}

.form-send-message {
  margin-top: 20px
}

.overflowable p {
  margin: 0;
}

p.active{
  background: #FFF;
  color: #000;
}
*/

.form-auth {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* alert flash */

.row-alert {
  position: absolute;
  right: 285px;
  z-index: 9999;
  top: 50px;
}

.alert {
  position: fixed;
}

.alert.fade {
  display: none;
}

.alert.fade.in {
  display: block;
}

.panel-title>a {
  cursor: pointer;
}

a.list-group-item-chatting {
  background-color: #E2E2E2;
}

a.list-group-item-chatting:hover, a.list-group-item-chatting:focus {
  color: #494949;
  background-color: #CECECE;
}

a.agent-list-offline {
  color: #808080;
}

.badge-message-new-count {
  margin-left: 3px;
}

.ng-file-over {
  border: dotted 3px red;
}

canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px;
}

.group-span-filestyle .badge {
  display: none;
}


/* 3-ч уровненове меню */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.chat {
    display: block;
    width: 140px;
    height: 140px;
    text-align: center;
    padding-top: 42px;
    background-color: #ADADAD;
    border-style: solid;
    border-color: #00ff00;
}

.chat-offline {
    background-color: #DFDFDF;
    border-style: solid;
    border-color: #DFDFDF;
}

.chat-current {
    border-style: solid;
    border-color: #ffff00;
}

.chat-not-readed {
    border-style: solid;
    border-color: #ffff00;
}

.alert-notification {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
}