body {
  position: relative;
  padding-top: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}

.sidenav.nav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

.sidebar .sidenav.nav a.active {
  font-weight: bold;
}

.content {
  margin-top: 30px;
  background-color: #f7f5fa;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

img.avatar {
  width: 200px;
  height: 200px;
}

.overflowable {
  height: 400px;
}

.well.message-spot{
  margin-bottom: 50px;
  height: 400px;
  overflow: auto;
  word-wrap: break-word;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.px35 {
  width: 35px;
  height: 35px;
}

/*

.bar-submit-message{
  border-top: 1px solid #33b5e5;
}

.form-send-message {
  margin-top: 20px
}

.overflowable p {
  margin: 0;
}

p.active{
  background: #FFF;
  color: #000;
}
*/

.form-auth {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* alert flash */

.row-alert {
  position: absolute;
  right: 285px;
  z-index: 9999;
  top: 50px;
}

.alert {
  position: fixed;
}

.alert.fade {
  display: none;
}

.alert.fade.in {
  display: block;
}