extends ../common/layout

block header
    div(ng-controller="AgentMenuCtrl")
        .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only(translate) Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/agent") Regidium
        .collapse.navbar-collapse(role="navigation")
            ul.nav.navbar-nav
                li
                    a(href="/agent/visitors", translate) Visitors
                li
                    a(href="/agent/chats")
                        span(translate) Chats
                        span(ng-bind="new_messages_count", class="badge badge-message-new-count")
                li.dropdown
                    a.dropdown-toggle(href="", data-toggle="dropdown", translate) Agents
                        ul.dropdown-menu
                            li
                                a(href="/agent/agents", translate) Agents
                            li
                                a(href="", translate) Departments
                li.dropdown
                    a.dropdown-toggle(href="", data-toggle="dropdown", translate) Reports
                        ul.dropdown-menu
                            li
                                a(href="/agent/statistics", translate) Statistics chats
                            li
                                a(href="", translate) Chat history
                //- li
                    //- a(href="/agent/archives", translate) Archives
                li.dropdown
                    a.dropdown-toggle(href="", data-toggle="dropdown", translate) Settings
                        ul.dropdown-menu
                        li
                            a(href="") List sites
                        //- li.dropdown
                            //- a.dropdown-toggle(href="", data-toggle="dropdown", translate) Widget
                                //- ul.dropdown-menu
                                    //- li
                                        //- a(href="/agent/settings/widget/style") Decoration widget
                                    //- li
                                        //- a(href="/agent/settings/widget/code") Code for installation on site
                        li
                            a(href="/agent/settings/widget/triggers") Engaging in dialogue 
                        li
                            a(href="") Blocked users
                li.dropdown
                    a.dropdown-toggle(href="", data-toggle="dropdown", translate) Balance
                        ul.dropdown-menu
                            li
                                a(href="/agent/settings/widget/plan", translate) Rate (subscription) 
                            li
                                a(href="/agent/settings/widget/pay", translate) Payment

            ul.nav.navbar-nav.navbar-right
                li(ng-controller="AgentAuthLogoutCtrl")
                    a(href="", ng-click="logout()", translate) Logout

block content
    div(ng-controller="AgentCtrl")
        .row(ng-view)

block script
    script(src= (config.server.io_url + ':' + config.server.io_port + '/socket.io/socket.io.js'))
    script(src='/js/loader-agent-#{env}.js', type="text/javascript")