extends ../common/layout

block header
    header.navbar.navbar-inverse.navbar-fixed-top(role="banner", ng-controller="AgentMenuCtrl")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only(translate) Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/agent") Regidium
            .collapse.navbar-collapse(role="navigation")
                ul.nav.navbar-nav
                    li(ng-class="{'active': location.path().indexOf('/agent/visitors')> -1}")
                        a(href="/agent/visitors", translate) Visitors
                    li(ng-class="{'active': location.path().indexOf('/agent/chats')> -1}")
                        a(href="/agent/chats")
                            span(translate) Chats
                            span(ng-bind="new_messages_count", class="badge badge-message-new-count")
                    li.dropdown(ng-class="{'active': location.path().indexOf('/agent/agents')> -1}")
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Agents
                            b.caret
                        ul.dropdown-menu
                            li(ng-class="{'active': location.path().indexOf('/agent/agents/list')> -1}")
                                a(href="/agent/agents/list", translate) Agents
                            li.disabled(ng-class="{'active': location.path().indexOf('/agent/agents/departments')> -1}")
                                a(href="/agent/agents/departments", translate) Departments
                    li.dropdown(ng-class="{'active': location.path().indexOf('/agent/reports')> -1}")
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Reports
                            b.caret
                        ul.dropdown-menu
                            li(ng-class="{'active': location.path().indexOf('/agent/reports/statistics')> -1}")
                                a(href="/agent/reports/statistics", translate) Statistics chats
                            li(ng-class="{'active': location.path().indexOf('/agent/reports/history')> -1}")
                                a(href="/agent/reports/history", translate) Chat history
                    li.dropdown(ng-class="{'active': location.path().indexOf('/agent/settings')> -1}")
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Settings
                            b.caret
                        ul.dropdown-menu
                            li.disabled(ng-class="{'active': location.path().indexOf('/agent/settings/sites')> -1}")
                                a(href="/agent/settings/sites" translate) List sites
                            li.dropdown.dropdown-submenu(ng-class="{'active': location.path().indexOf('/agent/settings/widget')> -1}")
                                a.dropdown-toggle(href="", data-toggle="dropdown")
                                    span(translate) Widget
                                ul.dropdown-menu
                                    li(ng-class="{'active': location.path().indexOf('/agent/settings/widget/style')> -1}")
                                        a(href="/agent/settings/widget/style", translate) Decoration widget
                                    li(ng-class="{'active': location.path().indexOf('/agent/settings/widget/code')> -1}")
                                        a(href="/agent/settings/widget/code", translate) Code for installation on site
                            li(ng-class="{'active': location.path().indexOf('/agent/settings/triggers')> -1}")
                                a(href="/agent/settings/triggers", translate) Engaging in dialogue 
                            li(ng-class="{'active': location.path().indexOf('/agent/settings/blocked')> -1}")
                                a(href="/agent/settings/blocked", translate) Blocked users
                    li.dropdown(ng-class="{'active': location.path().indexOf('/agent/balance')> -1}")
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Balance
                            b.caret
                        ul.dropdown-menu
                            li(ng-class="{'active': location.path().indexOf('/agent/balance/plan')> -1}")
                                a(href="/agent/balance/plan", translate) Rate (subscription)
                            li(ng-class="{'active': location.path().indexOf('/agent/balance/payment')> -1}")
                                a(href="/agent/balance/payment", translate) Payment

                ul.nav.navbar-nav.navbar-right
                    li.dropdown(ng-controller="AgentAuthLogoutCtrl")
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            img(ng-src="{{agent.avatar}}?width=25&heigth=25&t={{t}}")
                            span(ng-bind="agent.first_name + ' ' + agent.last_name", style="padding: 0 5px;")
                            b.caret
                        ul.dropdown-menu
                            li
                                span.dropdown-header(ng-show="agent.current_session") {{agent.current_session.started_at * 1000 | amDateFormat:'DD.MM.YYYY, H:mm:ss'}}
                            li
                                span.dropdown-header(ng-show="agent.current_session") {{agent.current_session.last_visit * 1000 | amDateFormat:'DD.MM.YYYY, H:mm:ss'}}
                            li.divider
                            li
                                a(href="/agent/agents", translate) Profile
                            li
                                a(href="", translate) Panel Settings
                            li
                                a(href="/agent/issue", translate) Improve Regidium
                            li.divider
                            li
                                a(href="/logout", ng-click="logout()", translate) Logout

block content
    div(ng-controller="AgentCtrl")
        .row(ng-view)

block auto_popups
    div(agent-issue)

block script
    script(src= (config.server.io_url + ':' + config.server.io_port + '/socket.io/socket.io.js'))
    script(src='/js/loader-agent-#{env}.js', type="text/javascript")