extends ../common/layout

block header
    header.navbar.navbar-inverse.navbar-fixed-top(role="banner", ng-controller="AgentMenuCtrl")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                    span.sr-only(translate) Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/agent") Regidium
            .collapse.navbar-collapse(role="navigation")
                ul.nav.navbar-nav
                    li
                        a(href="/agent/visitors", translate) Visitors
                    li
                        a(href="/agent/chats")
                            span(translate) Chats
                            span(ng-bind="new_messages_count", class="badge badge-message-new-count")
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Agents
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/agent/agents", translate) Agents
                            li.disabled
                                a(href="", translate) Departments
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Reports
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/agent/statistics", translate) Statistics chats
                            li
                                a(href="/agent/history", translate) Chat history
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Settings
                            b.caret
                        ul.dropdown-menu
                            li.disabled
                                a(href="" translate) List sites
                            li.dropdown.dropdown-submenu
                                a.dropdown-toggle(href="", data-toggle="dropdown")
                                    span(translate) Widget
                                ul.dropdown-menu
                                    li
                                        a(href="/agent/settings/widget/style", translate) Decoration widget
                                    li
                                        a(href="/agent/settings/widget/code", translate) Code for installation on site
                            li
                                a(href="/agent/settings/triggers", translate) Engaging in dialogue 
                            li
                                a(href="", translate) Blocked users
                    li.dropdown
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            span(translate) Balance
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="/agent/balance/plan", translate) Rate (subscription)
                            li
                                a(href="/agent/balance/pay", translate) Payment

                ul.nav.navbar-nav.navbar-right
                    li.dropdown(ng-controller="AgentAuthLogoutCtrl")
                        a.dropdown-toggle(href="", data-toggle="dropdown")
                            img(ng-src="{{agent.avatar + 'avatar?width=25&heigth=25'}}")
                            span(ng-bind="agent.first_name + ' ' + agent.last_name", style="padding: 0 5px;")
                            b.caret
                        ul.dropdown-menu
                            li
                                span.navbar-text {{agent.last_visit * 1000 | amDateFormat:'DD.MM.YYYY, H:mm:ss'}}
                            li.divider
                            li
                                a(href="/agent/agents", translate) Profile
                            li
                                a(href="", translate) Panel Settings
                            li
                                a(href="", translate) Improve Regidium
                            li.divider
                            li
                                a(href="/logout", ng-click="logout()" translate) Logout

block content
    div(ng-controller="AgentCtrl")
        .row(ng-view)

block script
    script(src= (config.server.io_url + ':' + config.server.io_port + '/socket.io/socket.io.js'))
    script(src='/js/loader-agent-#{env}.js', type="text/javascript")