extends ../index

block content
    .jumbotron(ng-controller="AgentCtrl")
        .row(ng-view)
            .col-md-12
                h3 Messages
                .well.message-spot.overflowable
                    p(ng-repeat='message in messages') {{message.user.fullname}}: {{message.text}}
                form(ng-submit='sendMessage()')
                    input(ng-model='message')
                    input(type='submit', value='Send')