(function() {

    'use strict';

    /* Services */
    angular.module('regidiumApp')
        .factory('config', function ($rootScope) {

            $rootScope.apiUrl = 'http://api.regidium.com/api/v1/'
            $rootScope.config.fsUrl = 'http://fs.regidium.com/';

            return $rootScope;
        });

})();