extends ../common/layout

block header

block content
    div(ng-controller="MainCtrl")
        .row(ng-view)

block footer_inner

block auto_popups
    div(auth-registration)
    div(auth-login)

block script
    script(src='/js/loader-main-#{env}.js', type="text/javascript")