<div class="col-md-12" role="main">
    <div class="content">
        <blockquote>
            <pre>
                <code>
&lt;script&gt;
var widgetOptions = {
    uid: '{{widget_uid}}'
};

(function() {
var script = document.createElement('script');
script.type = 'text/javascript';
script.async = true;
script.src = '{{config.widgetUrl}}/widget.js';
document.getElementsByTagName('head')[0].appendChild(script);
})();
&lt;/script&gt;
                </code>
            </pre>
        </blockquote>
    </div>
</div>