<div ng-include="'js/app/agent/views/settings/widget/_menu.html'"></div>

<div class="col-md-9" role="main">
    <div class="content">
        <form ng-submit='submit()' name="style_form" class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Header color</label>
                    <div class="col-sm-9">
                        <input type="color" class="form-control" placeholder="Header color" ng-model="settings.header_color" />
                    </div>
                </div>
                <p>
                    <button type="submit" ng-disabled="style_form.$invalid" class="btn btn-lg btn-primary btn-block">Save</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>