<div ng-controller="MainAuthRegistrationCtrl" id="registration" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registration" aria-hidden="true">
    <div class="modal-body">
        <div class="modal-dialog">
            <div class="modal-content form-auth">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" translate>Registration</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <form role="form" ng-submit="registration()" name="registration_form">
                            <input ng-model="agent.first_name" type="text" placeholder="First name" autofocus="autofocus" class="form-control" />
                            <input ng-model="agent.last_name" type="text" placeholder="Last name" autofocus="autofocus" class="form-control" />
                            <input ng-model="agent.email" ng-required="true" name="registration_form.email" type="email" placeholder="Email address" class="form-control"/>
                            <span class="has-error">
                                <span ng-show="registration_form.$error.email" class="help-block" translate>Should be valid email address!</span>
                            </span>
                            <input ng-model="agent.password" ng-required="true" type="password" name="registration_form.password" placeholder="Password" class="form-control"/>
                            <input ng-model="agent.confirm_password" ng-required="true" name="registration_form.confirm_password" ui-equal-to="agent.password" type="password" placeholder="Confirm password" class="form-control"/>
                            <span class="has-error">
                                <span ng-show="registration_form.$error.equal" class="help-block has-error" translate>Should be equal to password!</span>
                            </span>
                            <label class="checkbox">
                                <input type="checkbox" value="remember" translate />Remember me
                            </label>
                            <p>
                                <button type="submit" ng-disabled="registration_form.$invalid" class="btn btn-lg btn-primary btn-block" translate>Registration</button>
                            </p>
                            <p>
                                <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-lg btn-danger btn-block" translate>Close</button>
                            </p>
                        </form>
                    </p>
                    <p>
                        <ul>
                            <li class="vk">
                                <a href='/auth/external/service/vkontakte/connect' translate>VK</a>
                            </li>
                            <li class="fb">
                                <a href='/auth/external/service/facebook/connect' translate>Facebook</a>
                            </li>
                            <li class="gg">
                                <a href='/auth/external/service/google/connect' translate>Google</a>
                            </li>
                            <li class="tw">
                                <a href='/auth/external/service/twitter/connect' translate>Twitter</a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>