<div class="col-md-12" role="main">
    <div block-ui="paymentBlockUI"></div>
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 translate>Payment widget</h1>
            </div>
            <form ng-submit='paymentSubmit()' name="payment_form" role="form">
                <fieldset>
                    <!--<div class="form-group col-sm-10">-->
                        <!--<label class="control-label" translate>Payment type</label>-->
                        <!--<div class="radio">-->
                            <!--<label>-->
                                <!--<input ng-model="payment.payment_method" type="radio" value="1" /> Electronic money-->
                            <!--</label>-->
                        <!--</div>-->
                        <!--<div class="radio">-->
                            <!--<label>-->
                                <!--<input ng-model="payment.payment_method" type="radio" value="2" /> Plastic card-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group col-sm-3">
                        <label class="control-label" translate>Sum</label>
                        <input ng-model="payment.sum" type="text" class="form-control" />
                    </div>

                    <div class="form-group col-sm-12">
                        <button ng-show="!transaction" ng-disabled="payment_form.$invalid" type="submit" class="btn btn-lg btn-primary btn-block">Pay</button>
                    </div>
                </fieldset>
            </form>

            <form ng-show="transaction" name="transaction_form" id="transaction_form" role="form" method="GET" action="#"></form>
        </div>
    </div>
</div>