.row.row-alert
    .span12
        .alert.alert-dismissable.fade(flash-alert="info", active-class="in")
            button.close(type="button", ng-click="hide()") &times;
            i.glyphicon.glyphicon-info-sign
            span.alert-message {{flash.message}}
        .alert.alert-dismissable.fade(flash-alert="success", active-class="in")
            button.close(type="button", ng-click="hide()") &times;
            i.glyphicon.glyphicon-ok-sign
            span.alert-message {{flash.message}}
        .alert.alert-dismissable.fade(flash-alert="warn", active-class="in")
            button.close(type="button", ng-click="hide()") &times;
            i.glyphicon.glyphicon-exclamation-sign
            span.alert-message {{flash.message}}
        .alert.alert-dismissable.fade(flash-alert="error", active-class="in")
            button.close(type="button", ng-click="hide()") &times;
            i.glyphicon.glyphicon-remove-sign
            span.alert-message {{flash.message}}