doctype html

block html
    //- html(xmlns:ng="http://angularjs.org", id="ng-app", lang="{{lang}}")
    html(xmlns:ng="http://angularjs.org", lang="{{lang}}")
        block head
            head
                block head_inner
                    base(href="/")
                    - var title = title ? title : "My Regidium"
                    title(translate)= title

                    block base_meta
                        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
                        meta(http-equiv="Cache-Control", content="no-cache")
                        meta(http-equiv="Pragma", content="no-cache")
                        meta(http-equiv="Expires", content="0")

                    block base_style
                        - if (env == 'production')
                            link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
                            link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css")
                            link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
                        - else
                            link(rel="stylesheet", href="/js/libs/bootstrap/css/bootstrap.min.css")
                            link(rel="stylesheet", href="/js/libs/bootstrap/css/bootstrap-theme.min.css")
                            link(rel="stylesheet", href="/js/libs/font-awesome/css/font-awesome.min.css")
                        link(rel="stylesheet", href="/js/libs/angular/angular-loading-bar/loading-bar.min.css")
                        link(rel="stylesheet", href="/js/libs/angular/angular-block-ui/css/angular-block-ui.min.css")
                        link(rel="stylesheet", href="/css/fontello/fontello.css")
                        link(rel="stylesheet", href="/css/app.css")
                        //if lt IE 7
                            <link rel='stylesheet' href='/css/fontello/fontello-ie7.css' />
                        //if lt IE 9
                            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js", type="text/javascript"></script>
                        //if lte IE 8
                            <script type="text/javascript">
                                document.createElement('ng-include');
                                document.createElement('ng-pluralize');
                                document.createElement('ng-view');
                                document.createElement('ng:include');
                                document.createElement('ng:pluralize');
                                document.createElement('ng:view');
                            </script>
                        //if lt IE 8
                          <script src="/js/libs/json2/json2.js", type="text/javascript"></script>
                    block style

        block body_inner

            body.ng-cloak(ng-cloak)

                block body

                    block header_inner
                        header.navbar.navbar-inverse.navbar-fixed-top(role="banner")
                            .container
                                block header

                    block content_inner
                        .container
                            block content

                    block footer_inner
                        footer(role="contentinfo")
                            .container
                                block footer
                                    | © 2014 Regidium

                    block alert
                        include alerts

                    block auto_popups

                    block base_script
                        - if (env == "production")
                            script(src="//cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js", type="text/javascript")
                        - else
                            script(src="/js/libs/headjs/head.load.min.js", type="text/javascript")

                    block script