<div class="col-md-12">
    <h3>Messages</h3>
    <div class="well message-spot overflowable" auto-scroll>
        <p ng-repeat='message in messages'>
            <span style="color: red;" ng-if="message.user">{{message.user.fullname}}: {{message.text}}</span>
            <span style="color: green;" ng-if="message.agent">{{message.agent.fullname}}: {{message.text}}</span>
        </p>
    </div>
    <form ng-submit="sendMessage()" class="form-horizontal" role="form">
        <div class="col-md-10">
            <input ng-model="text" class="form-control" placeholder="Enter message" />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success" translate>Send</button>
        </div>
    </form>
</div>