<div class="col-md-12">
    <h3 translate>Messages</h3>
    <div class="well message-spot overflowable" auto-scroll>
        <p ng-repeat='message in chat.messages;'>
            <span ng-class="{red: message.sender.model_type == 'agent', green: message.sender.model_type == 'user'}">{{message.sender.fullname}}: {{message.text}}</span>
        </p>
    </div>
    <form ng-submit="sendMessage()" class="form-horizontal" role="form">
        <div class="col-md-10">
            <input ng-model="text" class="form-control" placeholder="Enter message" />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success" translate>Send</button>
        </div>
    </form>
</div>