<div ng-include="'js/app/agent/views/users/menu.html'"></div>

<div class="col-md-9" role="main">
    <div class="content" ui-view="users">
        <div ng-show="disabled">
            <button type="button" class="btn btn-primary" ng-click="edit()" translate>Edit</button>
        </div>
        <form class="form-horizontal" role="form" name="form">
            <fieldset ng-disabled="disabled">
                <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="Name" ng-model="user.fullname" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" placeholder="Email" ng-model="user.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" translate>Status</label>
                    <div class="col-sm-9">
                        <label>
                            <input type="radio" ng-model="user.status" value="1" translate /> Enabled
                        </label>
                        <label>
                            <input type="radio" ng-model="user.status" value="2" translate /> Blocked
                        </label>
                        <label>
                            <input type="radio" ng-model="user.status" value="3" translate /> Deleted
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <div ng-show="!disabled">
                            <div class="form-group pull-left">
                                <button type="submit" class="btn btn-success" ng-click="save()" translate>Save</button>
                                <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                            </div>
                            <div class="form-group pull-right">
                                <button type="button" class="btn btn-danger" ng-click="remove()" ng-show="user.uid" translate>Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>